@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.contenedor-btn {
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 15px;
  background-color: #fff;
}

.boton {
  width: 100%;
  height: 100%;
  transition: ease 1s;
}