@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.line {
  width: 0%;
  height: 4px;
  background-color: #000;
  border-radius: 5rem;
  transition: 0.5s ease-in-out;
}

.link {
  text-decoration: none;
  transition: 0.5s all ease;
}

.link:hover .line {
  width: 100%;
  transition: 0.5s all ease;
}