.line {
    width: 0%;
    height: 4px;
    background-color: #fff;
    border-radius: 5rem;
    transition: 0.5s ease-in-out;
}
  
.link {
    text-decoration: none;
    transition: 0.5s all ease;
}
  
.link:hover + .line {
    width: 100%;
    transition: 0.5s all ease;
}
