body {
  background-color: beige;
  max-width: 100%;
  max-height: 100%;
}

#txt_UI {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-left: 50%;
  bottom: 50%;
  background: #FFFFFF;
  border: 2px solid black;
  font-family: Arial;
  font-weight: bold;
  font-size: 0.75em;
}

#popup {
  position: absolute;
  margin-top: 40vh;
  margin-left: 30%;
  padding-top: 5px;
  padding-bottom: 50px;
  background: rgb(235, 235, 235);
  border: 2px solid black;
  border-radius: 10px;

  max-width: 60%;
  width: 45%;
}

#crossClose {
  color: #000000;
  font-size: 24px;
  float: right;
}

#crossClose:hover {
  color: red;
  cursor: pointer;
}

#popup > #UItext {
  display: inline-block;
  position: absolute;
  padding-left: 20px;
  font-family: 'Times New Roman', Times, serif;
}

::selection{
  background: rgb(223, 213, 172);
}

#videoDiv {
  display: inline-block;
  position: relative;
  margin-left: 10px;
}

#creditosProyecto > p {
  display: inline-block;
  position: relative;
  border: 2px solid black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}